
.full{
	background-image: url(image1.Jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */

}

.table{
	background-color: #FFFFFF;
	text-align: justify;
	text-align: center;
}

table{
	background-color: #FFFFFF;
	text-align:center;
	text-align: justify;
}
.my{
	background-image: url(backgroundpg2.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */

}
.table5{
	background-color: #FEDD9E;
	text-align:center;
	text-align: justify;
}
.mi{
	background-image: url(bg3.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.fe{
	text-align: center;
}
.ni{
	background-image: url(bg4.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.oi{
	background-image: url(bg5.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.bg{
	background-image: url(bg6.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.two{
	background-image: url(bg7.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.three{
	background-image: url(bg8.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.bit{
	background-image: url(bg9.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
}
.pit{
     background-image: url(bg10.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */}
	.kit{
		background-image: url(bg11.JPEG);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*ForBackground image*/
	/* */
	}